html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-image: url('/sf/css/background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

h1 {
    border-radius: 50%;
    width: 90%;
    text-align: center;
}

button {
    font-size: large;
    background-color: #030;
    color: white;
    border-radius: 5px;
}

/* -------------------- */
div.container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;
    width: 50%;
}

/* -------------------- */
.flex {
    display: flex;
    gap: 10px;
}

.large {
    font-size: x-large;
}

/* links */
a:link, a:visited { color: #790; }
a:active { color: white; }


@media (max-device-width: 480px) {
    div.container {
        width: 90%;
    }
    
    button {
        font-size: medium;
    }
}
