@import url('/sf/css/global.css');

body { margin: 0px; }

div {
    background-color: #000a;
}

div.upper-menu {
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    width: 98%;
}
